body {
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border: 1px solid black;
    letter-spacing: 1px;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 10px;
    text-align: center
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}